<div class="product-list">
    <div class="product" *ngFor="let product of products">
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
      </div>
  
      <div class="quantity-controls">
        <button (click)="decreaseQuantity(product)" [disabled]="quantities[product.id] === 0">-</button>
        <span>{{ quantities[product.id] }}</span>
        <button (click)="increaseQuantity(product)">+</button>
      </div>
  
      <button class="add-to-cart" (click)="addToCart(product)">Aggiungi al carrello</button>
    </div>
  </div>
  <!-- Aggiungi il widget dei prodotti aggiunti -->
<app-cart-widget *ngIf="showCartWidget"></app-cart-widget>

  
  