<div *ngIf="cartItems.length > 0; else emptyCart" class="cart-container">
    <h2>Il tuo carrello</h2>
  
    <div class="cart-list">
      <div *ngFor="let item of cartItems" class="cart-item">
        <p>{{ item.product.name }}</p>
  
        <div class="quantity-controls">
          <button (click)="removeFromCart(item.product)">-</button>
          <span>{{ item.quantity }}</span>
          <button (click)="addToCart(item.product)">+</button>
        </div>
      </div>
    </div>
  
    <button (click)="clearCart()" class="clear-btn">Svuota Carrello</button>
  </div>
  
  <ng-template #emptyCart>
    <div class="empty-cart">
      <p class="empty-message">Il tuo carrello è vuoto</p>
      <a routerLink="/product" class="shop-btn">Vai allo Shop</a>
    </div>
  </ng-template>
  